<div class="container mt-5 pt-5" style="max-width: 400px;">
  <h2 class="mb-4">🔐 Login</h2>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Username</label>
      <input type="text" name="username" [(ngModel)]="username" placeholder="Username" class="form-control" required />
    </div> 

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="form-control" required />
    </div>

    <button class="btn btn-primary w-100">Login</button>
  </form>
</div>